# VSCode Setting Files
.vscode

# intermediate arduino build files
output

# Dependencies
FastLED-*
MueStrip.h
ESP8266WiFi
ESP8266WebServer
ESP8266mDNS
ESP8266HTTPClient
ArduinoJson
ArduinoJson-v6.21.2